<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect Static Resources" stopProcessing="true">
			<match url="^(ico|img|css|files|js)(.*)$" />
            <action type="Rewrite" url="web/{R:1}{R:2}" appendQueryString="false" />
		</rule>
		<rule name="Imported Rule 2" stopProcessing="true">
		  <match url="^$" ignoreCase="false" />
		  <action type="Rewrite" url="web/" />
		</rule>
		<rule name="Imported Rule 3" stopProcessing="true">
		  <match url="(.*)" ignoreCase="false" />
		  <action type="Rewrite" url="web/{R:1}" />
		</rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>